@model BlogModel
@{
    
}
<div class="mb-3">
    <label class="form-label">Email address</label>
    <input type="text" class="form-control" id="BlogTitle" value="@Model.BlogTitle">
</div>
<div class="mb-3">
    <label class="form-label">Email address</label>
    <input type="text" class="form-control" id="BlogAuthor" value="@Model.BlogAuthor">
</div>
<div class="mb-3">
    <label class="form-label">Email address</label>
    <input type="text" class="form-control" id="BlogContent" value="@Model.BlogContent">
</div>